/*
 Styles
*/
input[type=number], select {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=button]:disabled,
input[type=button]:disabled:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input[type=button]:hover {
    background-color: #45a049;
}

body {
    background-color: #f2f2f2;
}

h1 {
    display: flex;
    justify-content: center;
}

div .box{
    border-radius: 5px;
    padding: 15px;
}

div .button_feed {
    border-radius: 5px;
}


/* Ordenaçao */

.button_feed{
    justify-content: center;
}

.buttons_box{
    display: flex;
}

.camera {
    justify-content: center;
    display: grid;
}

@media (min-width: 1919px) {
    .input_box{
        justify-content: space-evenly;
        display: flex;
    }

    img {
        max-width: 400px;
    }

    div .form {
        padding-top: 70px;
    }
}

@media (min-width: 640px) and (max-width: 1919px) {
    .input_box{
        justify-content: center;
        display: grid;
    }

    img {
        max-width: 300px;
    }
}

@media (max-width: 640px) {
    .input_box{
        justify-content: center;
        display: grid;
    }

    img {
        max-height: 220px;
    }

    div .box{
        border-radius: 5px;
        padding: 8px;
    }
}
